* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.mainer {
  max-width: 800px;
  margin: 0 auto;
  background: #990909;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 30px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #000;
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
}
.nav img {
  width: 150px;
}
main {
  display: flex;
  justify-content: row;
  margin: 1px 1px 10px 0;
}
main .first-section {
  width: 25%;
  background: #7d0909;
  text-align: left;
  color: #e0520e;
}
main .first-section ul li {
  margin-bottom: 15px;
  text-decoration: underline;
}
main .second-section {
  width: 57%;
  text-align: left;
  color: #fff;
  padding: 0 5px 0 2px;
}
main .second-section p {
  margin-top: 15px;
}
main .third-section {
  background: #e3dddd;
  width: 18%;
}
main .third-section h1 {
  background: #bdbdbd;
}
hr {
  width: 50%;
  margin: 10px 25% 10px 25%;
}
main .third-section span {
  text-align: left;
  margin: 15px 0;
  display: block;
}
footer {
  background: #e95b11;
  color: #fff;
}
